@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
:root{
    --green:#10ce2d;
    --black:#192a56;
    --light-color:#666;
    --box-shadow:0 .5rem rgba(0,0,0,0.1);
}
*{
    font-family: "Nunito",sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

section{
    padding: 2rem 9%;
}
section:nth-child(even){
    background: #eee;
}

.sub-heading{
    text-align: center;
    color:var(--green);
    font-size: 2rem;
    padding-top: 1rem;
}
.heading{
    text-align: center; 
    color:var(--black);
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding:.8rem 3rem;
}
.btn:hover{
    background: var(--green);
    letter-spacing: .1rem;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}


header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 5px;
    background: #fff;
    display: flex;
    padding: 1rem 7%;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}
header .logo{
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bolder;
}
header .logo i{
    color: var(--green);

}
header .logo  img{
    
    height: 45px;
    margin-left: 11px;
    margin-top: 1px;
    width: 90px;
    
    
}
header .navbar a {
    font-size: 1.7rem;
    border-radius: 0.5rem;
    padding: 1.5rem 11.5rem;
    color: var(--light-color);
    margin: 15px;
}
header .navbar a.active,
header .navbar a:hover{
    color:#fff;
    background: var(--green);

}
header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    font-size: 1.7rem;
    color: var(--black);
    border-radius: 50%;
    background: #eee;
    text-align: center;
}
header .icons i:hover,
header .icons a:hover{
    color:#fff;
    background: var(--green);
    transform: rotate(360deg);

}
header .icons #menu-bars{
    display: none;
}

img {
    height: 100%;
}

#first {

    /* border: 1px solid black; */
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 81px;
}

#left {
    width: 30%;
}



#right {
    width: 75%;
}

/* #right img {
    border: 2px solid black
} */

#left h1 {
    font-size: 60px;
}

#left h2 {
    font-size: 35px;
}

#left p {
    font-size: 25px;
}

#left button {
    width: 256px;
    cursor: pointer;
    outline: 5;
    display: inline-block;
    font-weight: 1000;
    line-height: 2.0;
    text-align: center;
    background-color: transparent;
    border: 2px solid transparent;
    padding: 4px 12px;
    font-size: 2.2rem;
    border-radius: -17.75rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #6c3bee;
    border-color: #6c3bee;
}

#left button:hover {
    color: white;
    background-color: #10ce2d;
    border-color: #6c3bee;
    font-weight: 300;
}

footer {
    /* border: 1px solid black; */
    width: 100%;
    margin-top: 50px;
    background-color: #e4e0ee;
    height: 500px;
    padding: 5%;
    display: flex;
    justify-content: space-around;
}

footer h1 {
    font-size: 50px;
}

footer img {
    border-radius: 25%;
    width: 60%;
    height: 80%;
}

footer .left {
    /* border: 1px solid black; */
    width: 40%;
}

footer .left h1 {
    margin-left: 17%;
}

footer .right {
    /* border: 1px solid black; */
    width: 50%;
}

footer .right ul {
    list-style: none;
}

footer .right ul li {
    font-size: 25px;
    margin-bottom: 15px;
}